# ---------------------------------------
# Python cache
# ---------------------------------------
__pycache__/
*.py[cod]
*$py.class

# ---------------------------------------
# Virtual environments
# ---------------------------------------
env/
ENV/
venv/
.venv/

# ---------------------------------------
# Environment variables
# ---------------------------------------
.env
.env.*
*.env
.env.local

# ---------------------------------------
# Pydantic cache (FastAPI)
# ---------------------------------------
.pydantic/

# ---------------------------------------
# Editor & IDE
# ---------------------------------------
.vscode/
*.cache
.cache/

# ---------------------------------------
# macOS
# ---------------------------------------
.DS_Store
